.my-table{
    margin-top: 10px;
    .table{
        .table-head{
            background-color: #F25D07;
            .table-head-cell{
                font-size: medium;
                font-weight: bold;
                color: #ffffff;
                padding: 15px;
            }
        }
        .table-body{
            .table-body-cell{
                padding-top: 12px;
                padding-bottom: 12px;
            }
        }
    }
}