.App{
  display: flex;
  flex-direction: row;
  height: 100vh;
  border-radius: 1rem;
  /* height: 100vh; */
}
*{
  padding: 0;
  margin: 0;
}



:root{
  --PrimaryColor: hsl(225, 50%, 48%);
  --SecondaryColor: hsl(180, 17%, 95%);
  --colorOne: hsl(15, 74%, 70%);
  --colorTwo: hsl(28, 100%, 82%);
  --HoverColor: hsl(225, 56%, 59%);
  --whiteColor: hsl(0, 0%, 100%);
  --blackColor: hsl(0,0%,12%);
  --textColor: hsl(240, 1%, 48%);
  --borderColor: hsl(0,0%,83%);
  --whiteColorDeam: hsl(0,0%, 93%);
  --greyBg: hsl(0,0%, 96%);
  --greyText: rgb(145,145,145);
  --inputColor: hsl(330,12%, 97%);
  --boxShadow: box-shadow: rgba(0,0,0,0.1) 0px 10px 15px -3px, rgba(0,0,0,0.05)
  0px 4px 6px -2px;
  --transition: .4s ease-in-out; 
  --global-color: #616161;
  --header-color: #ffffff;
  --background-color-body: #ffffff;
  --background-color-light-4: #bbdefb;
  --background-color-light-3: #90caf9;
  --background-color-main: #2196f3;
  --background-color-dark: #1e88e5;
  --animation-delay: 0.5s;

}

body{

  font-family: 'Inter', sans-serif;
  /* background: #F0F3F4; */
  /* background: #EEF7FE; */
  /* background: #F6E0FD; */

}
p{
  margin-bottom: 0px;
  font-size: 14px;
}

