.Navbar{
    width: 16%;
    max-width: 13vw;
    min-width: 190px;
    border-right: 1px solid #387478;
    // padding: 1rem;
    .MuiBottomNavigationAction-root.Mui-selected {
        color: #E2F1E7 !important; /* Đổi màu thành red hoặc màu khác */
        font-weight: bold;
        background-color: #243642;
        border-radius: 0.5rem;
    }
    // border-radius: 0.5rem;
    
    // margin: 0.5rem;
    .logo{
        padding: 1rem;
        margin-bottom: 1rem;
        img{
            width: 80%;
        }
    }
    
   
   
}