.Navbar{
    .MuiBottomNavigationAction-root.Mui-selected {
        color: #E2F1E7 !important; /* Đổi màu thành red hoặc màu khác */
        font-weight: bold;
        background-color: #243642;
        border-radius: 0.5rem;
    }
    width: 240px;
    border-right: 1px solid #9AA6B2;
    // border-radius: 0.5rem;
    
    // margin: 0.5rem;
    .logo{
        padding: 1rem;
        img{
            width: 80%;
        }
    }
    
   
   
}