.Navbar{
    margin-top: 6.5vh;
    width: 13vw;
    max-width: 13vw;
    min-width: 190px;
    border-right: 5px solid #F25D07;
    padding: 1rem;
    .MuiBottomNavigationAction-root.Mui-selected {
        color: #ffffff !important; /* Đổi màu thành red hoặc màu khác */
        font-weight: bold;
        background-color: #F25D07;
        border-radius: 0.5rem;
    }
    // border-radius: 0.5rem;
    
    // margin: 0.5rem;
    .logo{
        padding: 1rem;
        margin-bottom: 1rem;
        img{
            width: 50%;
        }
    }
    
   
   
}