.Navbar{
    margin-top: 6.5vh;
    width: 240px;
    border-right: 5px solid #F25D07;
    padding: 1rem;
    .MuiBottomNavigationAction-root.Mui-selected {
        color: #272829 !important; /* Đổi màu thành red hoặc màu khác */
    }
    .btn-add-order{
        
    }
    .logo{
        img{
            width: 50%;
        }
    }
   
   
}